[submodule "OpenBCG-API"]
	path = OpenBCG-API
	url = https://github.com/Elv02/OpenBCG-API
	branch = main
[submodule "OpenBCG-Web"]
	path = OpenBCG-Web
	url = https://github.com/Elv02/OpenBCG-Web
	branch = main
